@page
@model SupermarketWeb.Pages.Sales.SalesModel
@{
    ViewData["Title"] = "Sales";
}

<h1>Sales</h1>

<form method="get">
    <div class="form-group">
        <input type="text" class="form-control" name="searchString" placeholder="Buscar producto">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>

            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>

</table>

