@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/Resources/logo_vertical.png" alt="FCECEP IMAGEN" width="400px"/>
    <h4 class="Name">Miguel Angel Martinez Gomez</h4>
    <h4 class="Career">S4AN</h4>
    <style>
        .text-center .Name{
            margin-top: 20px;
            color: black;
        }

        .text-center .Career{
            margin-top: 32px;
            color: #404040;
            font-size: 1rem;
        }
    </style>
</div>
