@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img style="opacity: 0.5;"  src="~/Resources/supermarket-grocery-logo-design-template-e43b99901aa11fad8aa024c3a84b0d2f_screen.jpg" alt="FCECEP IMAGEN" width="500px"/>
</div>
